<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="['/admin-home']"></i>
                <h1 class="col-9">{{ 'admin-management.page.title' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <br>
            <div>
                <p class="bold">{{ 'admin-management.page.title.2' | translate }}</p>
                <p>{{ 'admin-management.page.h.1' | translate }}</p>

                <div class="admin-add-container">
                    <span class="admin-add-label">{{ 'admin-management.page.h.2' | translate }}</span>
                    <button class="btn btn-sm btn-add-admin" (click)="openAddModal()">
                        <i class="bi bi-person-plus"></i>
                    </button>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'admin-management.page.table.th1' | translate }}</th>
                        <th>{{ 'admin-management.page.table.th2' | translate }}</th>
                        <th>{{ 'admin-management.page.table.th3' | translate }}</th>
                        <th>{{ 'admin-management.page.table.th4' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let admin of admins; let i = index; trackBy: trackByAdmin">
                        <td>{{ i + 1 }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        <td>
                            <i 
                                class="bi bi-trash btn btn-sm"
                                [ngClass]="{
                                'btn-danger': admin.id !== loggedInAdminId,
                                'btn-secondary disabled-icon': admin.id === loggedInAdminId
                                }"
                                [title]="admin.id !== loggedInAdminId 
                                        ? 'Löschen' 
                                        : ('admin-management.page.table.cannot_delete_self' | translate)"
                                [style.pointerEvents]="admin.id === loggedInAdminId ? 'none' : 'auto'"
                                (click)="admin.id !== loggedInAdminId && openDeleteModal(admin)">
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal: Löschen bestätigen -->
                <ng-template #deleteModal let-modal>
                    <div class="modal-header">
                    <h4 class="modal-title">{{ 'admin-management.page.delete_modal.confirm' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                    <p>{{ 'admin-management.page.delete_modal.q.confirm.1' | translate }} <strong>{{ selectedAdmin?.username }}</strong> {{ 'admin-management.page.delete_modal.q.confirm.2' | translate }}</p>
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="modal.dismiss()">{{ 'admin-management.page.delete_modal.btn_cancel' | translate }}</button>
                    <button class="btn btn-danger" (click)="deleteAdmin(selectedAdmin?.id); modal.close()">{{ 'admin-management.page.delete_modal.btn_confirm' | translate }}</button>
                    </div>
                </ng-template>

                <!-- Modal: Admin hinzufügen -->
                <ng-template #addModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'admin-management.page.add_modal.title' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                    <label for="username">{{ 'admin-management.page.add_modal.n.1' | translate }}:</label>
                    <input id="username" type="text" class="form-control" [(ngModel)]="newAdmin.username" name="username" required/>
                    </div>
                    <div class="mb-3">
                    <label for="email">{{ 'admin-management.page.add_modal.n.2' | translate }}:</label>
                    <input id="email" type="email" class="form-control" [(ngModel)]="newAdmin.email" name="email" required email />
                        <small class="text-danger" *ngIf="newAdmin.email && !isEmailValid(newAdmin.email)">
                            {{ 'admin-management.page.add_modal.w.1' | translate }}
                        </small>
                    </div>
                    <div class="mb-3">
                    <label for="password">{{ 'admin-management.page.add_modal.n.3' | translate }}:</label>
                    <input id="password" type="password" class="form-control" [(ngModel)]="newAdmin.password" name="password" required minlength="8"/>
                        <small>
                            <ul class="list-unstyled mt-2">
                                <li [ngClass]="{'text-success': passwordChecks.length, 'text-danger': !passwordChecks.length}">
                                {{ 'admin-management.page.add_modal.w.2' | translate }}
                                </li>
                                <li [ngClass]="{'text-success': passwordChecks.uppercase, 'text-danger': !passwordChecks.uppercase}">
                                {{ 'admin-management.page.add_modal.w.3' | translate }}
                                </li>
                                <li [ngClass]="{'text-success': passwordChecks.lowercase, 'text-danger': !passwordChecks.lowercase}">
                                {{ 'admin-management.page.add_modal.w.4' | translate }}
                                </li>
                                <li [ngClass]="{'text-success': passwordChecks.number, 'text-danger': !passwordChecks.number}">
                                {{ 'admin-management.page.add_modal.w.5' | translate }}
                                </li>
                                <li [ngClass]="{'text-success': passwordChecks.specialChar, 'text-danger': !passwordChecks.specialChar}">
                                {{ 'admin-management.page.add_modal.w.6' | translate }}
                                </li>
                            </ul>
                        </small>
                    </div>

                </div>
                <div class="modal-footer">
                    <div *ngIf="errorMessage" class="alert alert-danger w-100 mb-2">
                        {{ errorMessage }}
                    </div>
                    <button class="btn btn-secondary" (click)="modal.dismiss()">
                    {{ 'admin-management.page.add_modal.btn_cancel' | translate }}
                    </button>
                    <button 
                        class="btn btn-success" 
                        [disabled]="!isNewAdminValid()"
                        (click)="saveNewAdmin()" >
                        {{ 'admin-management.page.add_modal.btn_confirm' | translate }}
                    </button>
                </div>
                </ng-template>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>