<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" id="login-content" aria-labelledby="login-form-title">
  <section>
    <mat-card>
      <mat-card-header>
        <div class="header-content">
            <i class="fa-solid fa-chevron-left back-icon" [routerLink]="['/admin-home']"></i>
            <span class="header-title">{{ 'login.page.title' | translate }}</span>
        </div>
      </mat-card-header>
      <br>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="full-width">
            <mat-label for="username">{{ 'login.page.n.1' | translate }}</mat-label>
            <input matInput id="username" formControlName="username"
                   aria-describedby="username-error">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              <strong>{{ 'login.page.w.1' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="full-width">
            <mat-label for="password">{{ 'login.page.n.2' | translate }}</mat-label>
            <input matInput id="password" formControlName="password"
                   [type]="hide ? 'password' : 'text'" aria-describedby="password-error">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error id="password-error" *ngIf="loginForm.controls['password'].hasError('required')">
              <strong>{{ 'login.page.w.2' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>
      <!-- Fehlerhinweis, nur wenn errorMessage nicht leer ist -->
      <div *ngIf="errorMessage" class="error-message" role="alert" aria-live="assertive">
        {{ errorMessage | translate}}
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">{{ 'login.page.b.1' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </section>
</form>