<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="['/admin-home']"></i>
                <h1 class="col-9">{{ 'contact-management.page.title' | translate }}</h1>
            </div>
            <br>
            <div>
                <h2>{{ 'contact-management.page.title.2' | translate }}</h2>
                <h3>{{ 'contact-management.page.h.1' | translate }}</h3>
            </div>

            <div class="buttons">
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/contact-sprache']">
              Sprache
            </button>
          </div>
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/contact-gremium']">
              Gremium
            </button>
          </div>
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/contact-mitgliedergruppe']">
              Mitgliedergruppe
            </button>
          </div>
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['contact-organisationseinheit']">
              Organisationseinheit
            </button>
          </div>
        </div>
        <br>
        <!-- Add New Button -->
        <div class="contact-add-container">
          <span class="contact-add-label">{{ 'contact-management.page.h.2' | translate }}</span>
          <button class="btn btn-sm contact-add-contact" (click)="openAddModal()">
              <i class="bi bi-person-plus"></i>
          </button>
        </div>

        <div class="container table-responsive">
          <!-- Mobile Cards -->
          <div class="card d-md-none" style="width: 20rem; margin: 3%" *ngFor="let contact of allcontacts; trackBy: trackByContact">
            <div class="card-body">
              <div class="name-contact">
                <p class="card-title">{{ contact.titel || '' }} {{ contact.vorname }} {{ contact.nachname }}</p>
              </div>
              <p class="card-subtitle mb-2 text-muted">{{ contact.sprache || '' }}</p>
              <p class="card-text">{{ 'contactlist.phone' | translate }}: {{ contact.telefon || '' }}</p>
              <p class="card-text">{{ 'contactlist.email' | translate }}: {{ contact.email }}</p>
            <p class="card-text">{{ 'contactlist.membergroup' | translate }}: {{ (contact.mitgliedergruppe || '') | translate }}</p>
            <p class="card-text">{{ 'contactlist.committee' | translate }}: {{ (contact.gremium || '') | translate }}
                <span *ngIf="contact.gremium1">, {{ (contact.gremium1 || '') | translate }} </span>
                <span *ngIf="contact.gremium2">, {{ (contact.gremium2 || '') | translate }} </span>
            </p>
            <p class="card-text">{{ 'contactlist.organizational.unit' | translate }}: {{ (contact.organisationseinheit || '') | translate }}</p>

              <!-- Buttons -->
              <button class="btn btn-warning me-2" (click)="openEditModal(contact)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-danger" (click)="openDeleteModal(contact)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

          <!-- Desktop Cards -->
          <div class="card d-none d-md-block" style="width: 50rem; margin: 3%" *ngFor="let contact of allcontacts; trackBy: trackByContact">
            <div class="card-body">
              <div class="name-contact">
                <h5 class="card-title">{{ contact.titel || '' }} {{ contact.vorname }} {{ contact.nachname }}</h5>
              </div>
              <p class="card-subtitle mb-2 text-muted">{{ contact.sprache || '' }}</p>
              <p class="card-text">{{ 'contactlist.phone' | translate }}: {{ contact.telefon || '' }}</p>
              <p class="card-text">{{ 'contactlist.email' | translate }}: {{ contact.email }}</p>
            <p class="card-text">{{ 'contactlist.membergroup' | translate }}: {{ (contact.mitgliedergruppe || '') | translate }}</p>
            <p class="card-text">{{ 'contactlist.committee' | translate }}: {{ (contact.gremium || '') | translate }}
                <span *ngIf="contact.gremium1">, {{ (contact.gremium1 || '') | translate }} </span>
                <span *ngIf="contact.gremium2">, {{ (contact.gremium2 || '') | translate }} </span>
            </p>
            <p class="card-text">{{ 'contactlist.organizational.unit' | translate }}: {{ (contact.organisationseinheit || '') | translate }}</p>

              <!-- Buttons -->
              <button class="btn btn-warning me-2" (click)="openEditModal(contact)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-danger" (click)="openDeleteModal(contact)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

          <!-- Modal: Hinzufügen -->
          <ng-template #addModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contacts-management.modal.add.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="titel">{{ 'contactlist.title' | translate }}:</label>
                <input id="titel" type="text" class="form-control" [(ngModel)]="newContact.titel"/>
              </div>
              <div class="mb-3">
                <label for="vorname">*{{ 'contactlist.firstname' | translate }}:</label>
                <input id="vorname" type="text" class="form-control" [(ngModel)]="newContact.vorname" name="vorname" required/>
              </div>
              <div class="mb-3">
                <label for="nachname">*{{ 'contactlist.lastname' | translate }}:</label>
                <input id="nachmane" type="text" class="form-control" [(ngModel)]="newContact.nachname" name="nachname" required/>
              </div>
              <div class="mb-3">
                <label for="telefon">{{ 'contactlist.phone' | translate }}:</label>
                <input id="telefon" type="text" class="form-control" [(ngModel)]="newContact.telefon"/>
              </div>
              <div class="mb-3">
                <label for="email">*Email:</label>
                <input id="email" type="text" class="form-control" [(ngModel)]="newContact.email" name="email" required email />
                  <small class="text-danger" *ngIf="newContact.email && !isEmailValid(newContact.email)">
                      {{ 'contact-management.page.add_modal.w.3' | translate }}
                  </small>
              </div>
              <!-- Checkbox für Sprachen -->
              <div class="mb-3">
                <label class="form-label">{{ 'contactlist.language' | translate }}</label>
                <div *ngFor="let sprache of sprachen" class="form-check">
                  <input class="form-check-input" 
                        type="checkbox" 
                        [id]="'sprache_' + sprache.id"
                        [checked]="isSpracheSelected(sprache.id)"
                        (change)="toggleSpracheSelection(sprache.id)">
                  <label class="form-check-label" [for]="'sprache_' + sprache.id">
                    {{ sprache.sprache }}
                  </label>
                </div>
              </div>
              <!-- Checkbox für Gremien -->
              <div class="mb-3">
              <label class="form-label">*{{ 'contactlist.committee' | translate }}</label>
              <div *ngFor="let gremium of gremien" class="form-check">
                <input class="form-check-input" 
                      type="checkbox" 
                      [id]="'gremium_' + gremium.id"
                      [checked]="isGremiumSelected(gremium.id)"
                      [disabled]="!selectedGremiumIds.includes(gremium.id) && selectedGremiumIds.length >= 3"
                      (change)="toggleGremiumSelection(gremium.id)">
                <label class="form-check-label" [for]="'gremium_' + gremium.id">
                  {{ gremium.gremium | translate}}
                </label>
              </div>
            </div>

              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" [disabled]="!isNewContactValid()" (click)="saveNewContact()">{{ 'button.save' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'button.cancel' | translate }}</button>
            </div>
          </ng-template>

          <!-- Modal: Bearbeiten -->
          <ng-template #editModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contacts-management.modal.edit.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="titel">{{ 'contactlist.title' | translate }}:</label>
                <input id="titel" type="text" class="form-control" [(ngModel)]="selectedContact!.titel"/>
              </div>
              <div class="mb-3">
                <label for="vorname">{{ 'contactlist.firstname' | translate }}:</label>
                <input id="vorname" type="text" class="form-control" [(ngModel)]="selectedContact!.vorname" name="vorname" required/>
                <small class="text-danger" *ngIf="!selectedContact!.vorname || selectedContact!.vorname.trim() === ''">
                    {{ 'contact-management.page.edit_modal.w.1' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="nachname">{{ 'contactlist.lastname' | translate }}:</label>
                <input id="nachmane" type="text" class="form-control" [(ngModel)]="selectedContact!.nachname" name="nachname" required/>
                  <small class="text-danger" *ngIf="!selectedContact!.nachname || selectedContact!.nachname.trim() === ''">
                    {{ 'contact-management.page.edit_modal.w.2' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="telefon">{{ 'contactlist.phone' | translate }}:</label>
                <input id="telefon" type="text" class="form-control" [(ngModel)]="selectedContact!.telefon"/>
              </div>
              <div class="mb-3">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control" [(ngModel)]="selectedContact!.email" name="email" required email />
                  <small class="text-danger" *ngIf="selectedContact?.email && !isEmailValidSafe(selectedContact?.email)">
                    {{ 'contact-management.page.edit_modal.w.3' | translate }}
                  </small>

              </div>
               <!-- Sprach-Checkboxen -->
              <div class="mb-3">
                <label class="form-label">{{ 'contactlist.language' | translate }}</label>
                <div *ngFor="let sprache of sprachen" class="form-check">
                  <input class="form-check-input"
                        type="checkbox"
                        [id]="'edit_sprache_' + sprache.id"
                        [checked]="isEditSpracheSelected(sprache.id)"
                        (change)="toggleEditSpracheSelection(sprache.id)">
                  <label class="form-check-label" [for]="'edit_sprache_' + sprache.id">
                    {{ sprache.sprache }}
                  </label>
                </div>
              </div>
              <!-- Gremium-Checkboxen -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contactlist.committee' | translate }}</label>
                <div *ngFor="let gremium of gremien" class="form-check">
                  <input class="form-check-input"
                    type="checkbox"
                    [id]="'edit_gremium_' + gremium.id"
                    [checked]="isEditGremiumSelected(gremium.id)"
                    [disabled]="!selectedEditGremiumIds.includes(gremium.id) && selectedEditGremiumIds.length >= 3"
                    (change)="toggleEditGremiumSelection(gremium.id)">
                  <label class="form-check-label" [for]="'edit_gremium_' + gremium.id">
                    {{ gremium.gremium | translate }}
                  </label>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <div *ngIf="errorMessage" class="alert alert-danger w-100 mb-2">
                {{ errorMessage }}
              </div>
              <button class="btn btn-success" [disabled]="!isEditContactValid()" (click)="saveUpdatedContact()">{{ 'button.save' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'button.cancel' | translate }}</button>
            </div>
          </ng-template>

          <!-- Modal: Löschen -->
          <ng-template #deleteModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contacts-management.modal.delete.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              {{ 'contacts-management.modal.delete.confirm' | translate }}
              <strong>{{ selectedContact?.vorname }} {{ selectedContact?.nachname }}</strong>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" (click)="deleteContact(selectedContact?.id)">{{ 'button.delete' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'button.cancel' | translate }}</button>
            </div>
          </ng-template>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
</body>
