<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="['/admin-home']"></i>
                <h1 class="col-9">{{ 'contact-management.page.page-title' | translate }}</h1>
            </div>
            <br>
            <div>
                <p class="bold">{{ 'contact-management.page.title.2' | translate }}</p>
                <p>{{ 'contact-management.page.h.1' | translate }}</p>
            </div>
            <br>

           <div class="language-add-container">
          <span class="language-add-label">{{ 'contact-management.page.h.2' | translate }}</span>
          <button class="btn btn-sm language-add-language" (click)="openLanguageModal()">
              <i class="bi bi-plus-square"></i>
          </button>
          <button class="btn btn-sm language-delete-language" (click)="openLanguageDeleteModal()">
              <i class="bi bi-dash-square"></i>
          </button>
        </div>
        <br>
        <!-- Add New Button -->
        <div class="contact-add-container">
          <span class="contact-add-label">{{ 'contact-management.page.h.3' | translate }}</span>
          <button class="btn btn-sm contact-add-contact" (click)="openAddModal()">
              <i class="bi bi-person-plus"></i>
          </button>
        </div>

        <div class="container table-responsive">
          <!-- Mobile Cards -->
          <div class="card d-md-none" style="width: 20rem; margin: 3%" *ngFor="let contact of allcontacts; trackBy: trackByContact">
            <div class="card-body">
              <div class="name-contact">
                <p class="card-title">{{ contact.titel || '' }} {{ contact.vorname }} {{ contact.nachname }}</p>
              </div>
              <p class="card-subtitle mb-2 text-muted">{{ contact.sprache || '' }}</p>
              <p class="card-text">{{ 'contact-management.page.phone' | translate }}: {{ contact.telefon || '' }}</p>
              <p class="card-text">{{ 'contact-management.page.email' | translate }}: {{ contact.email }}</p>
            <p class="card-text">{{ 'contact-management.page.membergroup' | translate }}: {{ (contact.mitgliedergruppe || '') | translate }}</p>
            <p class="card-text">{{ 'contact-management.page.committee' | translate }}: {{ (contact.gremium || '') | translate }}
                <span *ngIf="contact.gremium1">, {{ (contact.gremium1 || '') | translate }} </span>
                <span *ngIf="contact.gremium2">, {{ (contact.gremium2 || '') | translate }} </span>
                <span *ngIf="contact.gremium3">, {{ (contact.gremium3 || '') | translate }} </span>
            </p>
            <p class="card-text">{{ 'contact-management.page.organizational.unit' | translate }}: {{ (contact.organisationseinheit || '') | translate }}
                <span *ngIf="contact.organisationseinheit1">, {{ (contact.organisationseinheit1 || '') | translate }} </span>
            </p>
              <!-- Buttons -->
              <button class="btn btn-warning me-2" (click)="openEditModal(contact)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-danger" (click)="openDeleteModal(contact)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

          <!-- Desktop Cards -->
          <div class="card d-none d-md-block" style="width: 50rem; margin: 3%" *ngFor="let contact of allcontacts; trackBy: trackByContact">
            <div class="card-body">
              <div class="name-contact">
                <p class="card-title">{{ contact.titel || '' }} {{ contact.vorname }} {{ contact.nachname }}</p>
              </div>
              <p class="card-subtitle mb-2 text-muted">{{ contact.sprache || '' }}</p>
              <p class="card-text">{{ 'contact-management.page.phone' | translate }}: {{ contact.telefon || '' }}</p>
              <p class="card-text">{{ 'contact-management.page.email' | translate }}: {{ contact.email }}</p>
            <p class="card-text">{{ 'contact-management.page.membergroup' | translate }}: {{ (contact.mitgliedergruppe || '') | translate }}</p>
            <p class="card-text">{{ 'contact-management.page.committee' | translate }}: {{ (contact.gremium || '') | translate }}
                <span *ngIf="contact.gremium1">, {{ (contact.gremium1 || '') | translate }} </span>
                <span *ngIf="contact.gremium2">, {{ (contact.gremium2 || '') | translate }} </span>
                <span *ngIf="contact.gremium3">, {{ (contact.gremium3 || '') | translate }} </span>
            </p>
            <p class="card-text">{{ 'contact-management.page.organizational.unit' | translate }}: {{ (contact.organisationseinheit || '') | translate }}
                <span *ngIf="contact.organisationseinheit1">, {{ (contact.organisationseinheit1 || '') | translate }} </span>
            </p>
              <!-- Buttons -->
              <button class="btn btn-warning me-2" (click)="openEditModal(contact)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-danger" (click)="openDeleteModal(contact)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

          <!-- Modal: Hinzufügen -->
          <ng-template #addModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contact-management.page.modal.add.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="titel">{{ 'contact-management.page.title' | translate }}:</label>
                <input id="titel" type="text" class="form-control" [(ngModel)]="newContact.titel"/>
              </div>
              <div class="mb-3">
                <label for="vorname">*{{ 'contact-management.page.firstname' | translate }}:</label>
                <input id="vorname" type="text" class="form-control" [(ngModel)]="newContact.vorname" name="vorname" required/>
                <small class="text-danger" *ngIf="!newContact!.vorname || newContact!.vorname.trim() === ''">
                    {{ 'contact-management.page.modal.w.1' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="nachname">*{{ 'contact-management.page.lastname' | translate }}:</label>
                <input id="nachmane" type="text" class="form-control" [(ngModel)]="newContact.nachname" name="nachname" required/>
                <small class="text-danger" *ngIf="!newContact!.nachname || newContact!.nachname.trim() === ''">
                    {{ 'contact-management.page.modal.w.2' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="telefon">{{ 'contact-management.page.phone' | translate }}:</label>
                <input id="telefon" type="text" class="form-control" [(ngModel)]="newContact.telefon"/>
              </div>
              <div class="mb-3">
                <label for="email">*{{ 'contact-management.page.email' | translate}}:</label>
                <input id="email" type="text" class="form-control" [(ngModel)]="newContact.email" name="email" required email />
                  <small class="text-danger" *ngIf="newContact.email && !isEmailValid(newContact.email)">
                      {{ 'contact-management.page.modal.w.3' | translate }}
                  </small>
              </div>
              <!-- Checkbox für Sprachen -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.language' | translate }}</label>
                <div *ngFor="let sprache of sprachen" class="form-check">
                  <input class="form-check-input" 
                        type="checkbox" 
                        [id]="'sprache_' + sprache.id"
                        [checked]="isSpracheSelected(sprache.id)"
                        (change)="toggleSpracheSelection(sprache.id)">
                  <label class="form-check-label" [for]="'sprache_' + sprache.id">
                    {{ sprache.sprache }}
                  </label>
                </div>
              </div>
              <!-- Checkbox für Gremien -->
              <div class="mb-3">
              <label class="form-label">*{{ 'contact-management.page.committee' | translate }}</label>
              <div *ngFor="let gremium of gremien" class="form-check">
                <input class="form-check-input" 
                      type="checkbox" 
                      [id]="'gremium_' + gremium.id"
                      [checked]="isGremiumSelected(gremium.id)"
                      [disabled]="!selectedGremiumIds.includes(gremium.id) && selectedGremiumIds.length >= 4"
                      (change)="toggleGremiumSelection(gremium.id)">
                <label class="form-check-label" [for]="'gremium_' + gremium.id">
                  {{ gremium.gremium | translate}}
                </label>
              </div>
            </div>
              <!-- Mitgliedergruppen Radio-Btn -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.membergroup' | translate }}</label>
                <div *ngFor="let mitgliedergruppe of mitgliedergruppen" class="form-check">
                  <input class="form-check-input"
                        type="radio"
                        name="mitgliedergruppe" 
                        [id]="'mitgliedergruppe_' + mitgliedergruppe.id"
                        [value]="mitgliedergruppe.id"
                        [checked]="isMitgliedergruppeSelected(mitgliedergruppe.id)"
                        (change)="selectMitgliedergruppe(mitgliedergruppe.id)">
                  <label class="form-check-label" [for]="'mitgliedergruppe_' + mitgliedergruppe.id">
                    {{ mitgliedergruppe.mitgliedergruppe | translate }}
                  </label>
                </div>
              </div>
              <!-- Checkbox für Organisationseinheiten -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.organizational.unit' | translate }}</label>
                <div *ngFor="let organisationseinheit of organisationseinheiten" class="form-check">
                  <input class="form-check-input" 
                        type="checkbox" 
                        [id]="'organisationseinheit_' + organisationseinheit.id"
                        [checked]="isOrganisationseinheitSelected(organisationseinheit.id)"
                        [disabled]="!selectedOrganisationseinheitIds.includes(organisationseinheit.id) && selectedOrganisationseinheitIds.length >= 2"
                        (change)="toggleOrganisationseinheitSelection(organisationseinheit.id)">
                  <label class="form-check-label" [for]="'organisationseinheit_' + organisationseinheit.id">
                    {{ (organisationseinheit.organisationseinheit || '') | translate }}
                  </label>
                </div>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" [disabled]="!isNewContactValid()" (click)="saveNewContact()">{{ 'contact-management.page.button.save' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'contact-management.page.button.cancel' | translate }}</button>
            </div>
          </ng-template>

          <!-- Modal: Bearbeiten -->
          <ng-template #editModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contact-management.page.modal.edit.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="titel">{{ 'contact-management.page.title' | translate }}:</label>
                <input id="titel" type="text" class="form-control" [(ngModel)]="selectedContact!.titel"/>
              </div>
              <div class="mb-3">
                <label for="vorname">*{{ 'contact-management.page.firstname' | translate }}:</label>
                <input id="vorname" type="text" class="form-control" [(ngModel)]="selectedContact!.vorname" name="vorname" required/>
                <small class="text-danger" *ngIf="!selectedContact!.vorname || selectedContact!.vorname.trim() === ''">
                    {{ 'contact-management.page.modal.w.1' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="nachname">*{{ 'contact-management.page.lastname' | translate }}:</label>
                <input id="nachmane" type="text" class="form-control" [(ngModel)]="selectedContact!.nachname" name="nachname" required/>
                  <small class="text-danger" *ngIf="!selectedContact!.nachname || selectedContact!.nachname.trim() === ''">
                    {{ 'contact-management.page.modal.w.2' | translate }}
                </small>
              </div>
              <div class="mb-3">
                <label for="telefon">{{ 'contact-management.page.phone' | translate }}:</label>
                <input id="telefon" type="text" class="form-control" [(ngModel)]="selectedContact!.telefon"/>
              </div>
              <div class="mb-3">
                <label for="email">*{{ 'contact-management.page.email' | translate }}:</label>
                <input id="email" type="text" class="form-control" [(ngModel)]="selectedContact!.email" name="email" required email />
                  <small class="text-danger" *ngIf="selectedContact?.email && !isEmailValidSafe(selectedContact?.email)">
                    {{ 'contact-management.page.modal.w.3' | translate }}
                  </small>

              </div>
               <!-- Sprach-Checkboxen -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.language' | translate }}</label>
                <div *ngFor="let sprache of sprachen" class="form-check">
                  <input class="form-check-input"
                        type="checkbox"
                        [id]="'edit_sprache_' + sprache.id"
                        [checked]="isEditSpracheSelected(sprache.id)"
                        (change)="toggleEditSpracheSelection(sprache.id)">
                  <label class="form-check-label" [for]="'edit_sprache_' + sprache.id">
                    {{ sprache.sprache }}
                  </label>
                </div>
              </div>
              <!-- Gremium-Checkboxen -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.committee' | translate }}</label>
                <div *ngFor="let gremium of gremien" class="form-check">
                  <input class="form-check-input"
                    type="checkbox"
                    [id]="'edit_gremium_' + gremium.id"
                    [checked]="isEditGremiumSelected(gremium.id)"
                    [disabled]="!selectedEditGremiumIds.includes(gremium.id) && selectedEditGremiumIds.length >= 4"
                    (change)="toggleEditGremiumSelection(gremium.id)">
                  <label class="form-check-label" [for]="'edit_gremium_' + gremium.id">
                    {{ gremium.gremium | translate }}
                  </label>
                </div>
              </div>
               <!-- Mitgliedergruppe-Radio-Btn-->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.membergroup' | translate }}</label>
                <div *ngFor="let mitgliedergruppe of mitgliedergruppen" class="form-check">
                  <input class="form-check-input"
                        type="radio"
                        name="editMitgliedergruppe"
                        [id]="'edit_mitgliedergruppe_' + mitgliedergruppe.id"
                        [value]="mitgliedergruppe.id"
                        [checked]="isEditMitgliedergruppeSelected(mitgliedergruppe.id)"
                        (change)="selectEditMitgliedergruppe(mitgliedergruppe.id)">
                  <label class="form-check-label" [for]="'edit_mitgliedergruppe_' + mitgliedergruppe.id">
                    {{ mitgliedergruppe.mitgliedergruppe | translate }}
                  </label>
                </div>
              </div>
               <!-- Organisationseinheit-Checkboxen -->
              <div class="mb-3">
                <label class="form-label">*{{ 'contact-management.page.organizational.unit' | translate }}</label>
                <div *ngFor="let organisationseinheit of organisationseinheiten" class="form-check">
                  <input class="form-check-input"
                        type="checkbox"
                        [id]="'edit_organisationseinheit_' + organisationseinheit.id"
                        [checked]="isEditOrganisationseinheitSelected(organisationseinheit.id)"
                        [disabled]="!selectedEditOrganisationseinheitIds.includes(organisationseinheit.id) && selectedEditOrganisationseinheitIds.length >= 2"
                        (change)="toggleEditOrganisationseinheitSelection(organisationseinheit.id)">
                  <label class="form-check-label" [for]="'edit_organisationseinheit_' + organisationseinheit.id">
                    {{ (organisationseinheit.organisationseinheit || '') | translate }}
                  </label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div *ngIf="errorMessage" class="alert alert-danger w-100 mb-2">
                {{ errorMessage }}
              </div>
              <button class="btn btn-success" [disabled]="!isEditContactValid()" (click)="saveUpdatedContact()">{{ 'contact-management.page.button.save' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'contact-management.page.button.cancel' | translate }}</button>
            </div>
          </ng-template>

          <!-- Modal: Löschen -->
          <ng-template #deleteModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contact-management.page.modal.delete.title' | translate }}</h4>
            </div>
            <div class="modal-body">
              {{ 'contact-management.page.modal.delete.confirm.1' | translate }}
              <strong>{{ selectedContact?.vorname }} {{ selectedContact?.nachname }}</strong>
              {{ 'contact-management.page.modal.delete.confirm.2' | translate }}
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" (click)="deleteContact(selectedContact?.id)">{{ 'contact-management.page.button.delete' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'contact-management.page.button.cancel' | translate }}</button>
            </div>
          </ng-template>

          <!-- Modal: Sprache Hinzufügen-->
          <ng-template #languageModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contact-management.page.modal.add.language' | translate }}</h4>
            </div>
            <div class="modal-body">
              <!-- Bestehende Sprachen -->
              <div class="mb-3">
                <label>{{ 'contact-management.page.existing.languages' | translate }}:</label>
                <ul>
                  <li *ngFor="let sprache of sprachen">
                    {{ sprache.sprache }}
                  </li>
                </ul>
              </div>
              <!-- Neue Sprache hinzufügen -->
              <div class="mb-3">
                <label for="newSprache">{{ 'contact-management.page.add.language_modal.language' | translate }}:</label>
                <input
                  id="newSprache"
                  type="text"
                  class="form-control"
                  [(ngModel)]="newSprache.sprache"
                  placeholder="Neue Sprache eingeben"
                />
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" [disabled]="!isNewLanguageValid()" (click)="createSprache()">{{ 'contact-management.page.button.save' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'contact-management.page.button.cancel' | translate }} </button>
            </div>
          </ng-template>
          <!-- Modal: Sprache löschen -->
          <ng-template #languageDeleteModal>
            <div class="modal-header">
              <h4 class="modal-title">{{ 'contact-management.page.modal.delete.language.title' | translate }}</h4>
              <p>{{ 'contact-management.page.modal.delete.language.confirm' | translate }}</p>
            </div>
            <div class="modal-body">
              <div *ngFor="let sprache of sprachen" class="form-check">
                <input class="form-check-input"
                      type="radio"
                      name="deleteLanguage"
                      [id]="'delete_language_' + sprache.id"
                      [value]="sprache.id"
                      [(ngModel)]="selectedLanguageIdToDelete">
                <label class="form-check-label" [for]="'delete_language_' + sprache.id">
                  {{ sprache.sprache }}
                </label>
              </div>
              <div *ngIf="selectedLanguageIdToDelete === null" class="text-danger mt-2">
                {{ 'contact-management.page.modal.delete.language.warning' | translate }}
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" [disabled]="selectedLanguageIdToDelete === null" (click)="deleteSprache()">{{ 'contact-management.page.button.delete' | translate }}</button>
              <button class="btn btn-secondary" (click)="modalService.dismissAll()">{{ 'contact-management.page.button.cancel' | translate }}</button>
            </div>
          </ng-template>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
</body>
