.container {
    width: 100%;
    padding: 4% 4% 4% 10%;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

.text {
    margin-top: 15px;
    margin-bottom: 25px;
}

@media (min-width: 800px) {
    h1 {
        font-size: xx-large;
        text-align: center;
    }
}

@media (min-width: 800px) {
    h3 {
        font-size: large;
    }
}

.name-contact {
    display: flex;
    justify-content: space-between;
    color: #76B900;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.buttons {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.btn-primary {
    background-color: #76B900;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px;
    padding: 6px;
    border: 1px solid;
    border-radius: 6px;
    border-color: #1b1f2326;
}

.btn-primary:hover {
    background-color: #75b900af;
}

a {
    color: #76B900;
}

.contact-add-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}

.contact-add-label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.contact-add-contact {
  background-color: #76B900;
  color: white;
  border: none;
}

.contact-add-contact:hover {
  background-color: #75b900af;
}

.btn-success{
  background-color: #76B900;
  color: white;
  border: none;
}

.btn-success:hover {
  background-color: #75b900af;
}

.btn-danger {
    background-color: rgb(255, 103, 103);
    color: white;
    border-radius: 4px;
    border: none;
}

.btn-danger:hover {
    background-color: red;
}

.btn-warning{
    background-color: rgb(253, 186, 63);
    color: white;
    border-radius: 4px;
    border: none;
}

.btn-warning:hover {
    background-color: orange;
}