<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="''"></i>
                <h1 class="col-9">{{ 'success.page.title.thanks' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <div class="text">
                <div>
                    {{ 'success.page.p.4' | translate }}
                </div>
            </div>
            <div class="col-12 faq">
                <p [innerHTML]="'success.page.p.3' | translate"></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>