<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h1>{{ 'admin-home.page.title.welcome' | translate }}</h1>
        </div>
        <div>
          <p class="bold">{{ 'admin-home.page.p.1' | translate }}</p>
          <p [innerHTML]="'admin-home.page.p.1' | translate"></p>
        </div>

        <div class="buttons">
          <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/admin-update']">
              {{ 'admin-home.page.b.1' | translate }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
</body>
