<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="['/admin-home']"></i>
                <h1 class="col-9">{{ 'text-management.page.title' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <br>
            <div>
                <p class="bold">{{ 'text-management.page.title.2' | translate }}</p>
                <p>{{ 'text-management.page.h.1' | translate }}</p>
                <p [innerHTML]="'text-management.page.h.2' | translate"></p>
                <br>
                <div *ngFor="let group of mehrsprachigkeitenGrouped" class="group">
                    <h3 id="modal-basic-title" class="modal-title">{{ group.category }}</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'text-management.page.table.th1' | translate }}</th>
                                <th>{{ 'text-management.page.table.th2' | translate }}</th>
                                <th>{{ 'text-management.page.table.th3' | translate }}</th>
                                <th>{{ 'text-management.page.table.th4' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mehrsprachigkeit of group.translations; let i = index; trackBy: trackByMehrsprachigkeit">
                                    <td>{{ mehrsprachigkeit.id }}</td>
                                    <td>{{ mehrsprachigkeit.deutsch }}</td>
                                    <td>{{ mehrsprachigkeit.englisch }}</td>
                                    <td>
                                        <i class="fa-solid fa-pen-to-square"
                                            (click)="openEditModal(mehrsprachigkeit)">
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal: Bearbeiten -->
                <ng-template #editModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'text-management.page.edit_modal.title' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                    <label for="deutsch">{{ 'text-management.page.edit_modal.german' | translate }}:</label>
                    <input id="deutsch" type="text" class="form-control" [(ngModel)]="selectedMehrsprachigkeit.deutsch"/>
                    </div>
                    <div class="mb-3">
                    <label for="englisch">{{ 'text-management.page.edit_modal.english' | translate }}:</label>
                    <input id="englisch" type="text" class="form-control" [(ngModel)]="selectedMehrsprachigkeit.englisch"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="modal.dismiss()">
                    {{ 'text-management.page.edit_modal.btn_cancel' | translate }}
                    </button>
                    <button class="btn btn-success" (click)="saveEdit()">
                    {{ 'text-management.page.edit_modal.btn_confirm' | translate }}
                    </button>
                </div>
                </ng-template>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>