<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="''"></i>
                <h1 class="col-9">{{ 'imprint.page.title.imprint' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <div>
                <br>
                <h3>{{ 'imprint.page.h.1' | translate }}</h3>
                <p [innerHTML]="'imprint.page.p.1' | translate"></p>
                <h3>{{ 'imprint.page.h.2' | translate }}</h3>
                <p [innerHTML]="'imprint.page.p.2' | translate"></p>
                <p [innerHTML]="'imprint.page.p.3' | translate"></p>
                <h3>{{ 'imprint.page.h.3' | translate }}</h3>
                <p [innerHTML]="'imprint.page.p.4' | translate"></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>