<div class="container table-responsive">
    <div class="information" *ngIf="showFilterMessage">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p> {{ 'contact.filter.message' | translate }}</p>
    </div>
    <div class="card d-md-none" style="width: 20rem; margin: 3%" *ngFor=" let contact of filteredContacts">
        <div class="card-body">
            <div class="name-contact">
                <h5 class="card-title">{{ contact.titel }} {{ contact.vorname }} {{ contact.nachname }}</h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ contact.sprache }}</h6>
            <p class="card-text">{{ 'contactlist.phone' | translate }}: {{ contact.telefon }}</p>
            <p class="card-text">{{ 'contactlist.email' | translate }}: {{ contact.email }}</p>
            <p class="card-text">{{ 'contactlist.membergroup' | translate }}: {{ contact.mitgliedergruppe | translate }}</p>
            <p class="card-text">{{ 'contactlist.committee' | translate }}: {{ contact.gremium | translate }}
                <span *ngIf="contact.gremium1!=''">, {{ contact.gremium1 | translate }} </span>
                <span *ngIf="contact.gremium2!=''">, {{ contact.gremium2 | translate }} </span>
            </p>
            <p class="card-text">{{ 'contactlist.organizational.unit' | translate }}: {{ contact.organisationseinheit | translate }}</p>
            <button class="btn btn-primary" (click)="contactPerson(contact.email, contact.titel, contact.vorname, contact.nachname)">
                <i class="fa-solid fa-envelope" (click)="contactPerson(contact.email, contact.titel, contact.vorname, contact.nachname)"></i>
                {{ 'contactlist.button.get.in.contact' | translate }}
            </button>
        </div>
    </div>

    <div class="card d-none d-md-block" style="width: 50rem; margin: 3%" *ngFor=" let contact of filteredContacts">
        <div class="card-body">
            <div class="name-contact">
                <h5 class="card-title">{{ contact.titel }} {{ contact.vorname }} {{ contact.nachname }}</h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ contact.sprache }}</h6>
            <p class="card-text">Telefon: {{ contact.telefon }}</p>
            <p class="card-text">E-Mail: {{ contact.email }}</p>
            <p class="card-text">Mitgliedergruppe: {{ contact.mitgliedergruppe | translate }}</p>
            <p class="card-text">Gremium: {{ contact.gremium | translate }}
                <span *ngIf="contact.gremium1!=''">, {{ contact.gremium1 | translate }} </span>
                <span *ngIf="contact.gremium2!=''">, {{ contact.gremium2 | translate }} </span>
            </p>
            <p class="card-text">Organisationseinheit: {{ contact.organisationseinheit | translate }}</p>
            <button class="btn btn-primary desktop" (click)="contactPerson(contact.email, contact.titel, contact.vorname, contact.nachname)">
                <i class="fa-solid fa-envelope" (click)="contactPerson(contact.email, contact.titel, contact.vorname, contact.nachname)"></i>
                {{ 'contactlist.button.get.in.contact' | translate }}
            </button>
        </div>
    </div>
</div>