<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="''"></i>
                <h1 class="col-9">{{ 'error.page.title.oops' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <div class="col-12 text">
                <p [innerHTML]="'error.page.p.1' | translate"></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>